# fly.toml app configuration file generated for dingkwang-backend on 2026-02-15T18:12:18-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dingkwang-backend'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  ALLOWED_ORIGINS = 'https://dingkwang-site.fly.dev,http://localhost:3000'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 50
    soft_limit = 25

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
